<%-include('../common/head-company.ejs')  %> 
  <link rel="stylesheet" href="/css/bs-custom.css">
  <link rel="stylesheet" href="/css/about-comapny.css">
</head>
<body>
  <%- include('../common/nav-company.ejs') %>
  <main>
    <%- include('../common/banner-company.ejs') %>
    <div class="container">
      <div class="company who">
        <h2><% if (company.title_1) { %> <%=company.title_1 %> <% } else { %> WHO WE ARE <% } %></h2>
        <p>
          <% if (company.paragraph_1) { %> <%=company.paragraph_1 %>  <% } else { %> 
          At <%=companyName%>, we’re all about connection. We exist to help the gay, bi, trans & queer community connect and express themselves, and we believe connection and self-expression should be abundant in the workplace as well. We’re currently looking to build a team of talented, passionate, and open-minded people who want to join us in disrupting the dating app space, innovating product, and advancing queer culture.
          <% } %>
        </p>
      </div>
      <hr>
      <div class="company what">
        <h2><% if (company.title_2) { %> <%=company.title_2 %> <% } else { %> WHAT WE VALUE <% } %>
        </h2>
        <p>
          <% if (company.paragraph_2) { %> <%=company.paragraph_2 %>  <% } else { %> 
          <ul>
            <li>Giving people the power to build community and bring the world closer together</li>
            <li>0 Feet Away
              We’re our users, and our users are at the center of everything we do
            </li>
            <li>Looking for Right Now
              Working together, inclined to action, making moves right now for a better future.
            </li>
            <li>Into Exploration
              Exploring ourselves, our identities, our communities, and the world.</li>
            <li>Our products empower more than 3 billion people around the world to share ideas and offer support.</li>
            <% } %>
          </ul>
        </p>
      </div>
      <hr>
      <div class="company benefit">
        <h2><% if (company.title_3) { %> <%=company.title_3 %> <% } else { %> BENEFITS & PERKS <% } %></h2>
        <p>
          <% if (company.paragraph_3) { %> <%=company.paragraph_3 %>  <% } else { %>
          <ul>
            <li>100% employer-paid medical, dental, and vision premiums for employees</li>
            <li>E401k Matching(up to 6%)</li>
            <li>Remote-first working with one-time office stipend (US & Canada)</li>
            <li>Equity for all employees</li>
            <li>Monthly meal stipend to keep you fueled while working remotely</li>
            <li>Workshops, community projects, and legendary company parties</li>
            <li>Consultive Healthcare
              tailored to the specific need of LGBTQ employees</li>
            <li>Expanded access to HRT,
              shipped directly to 
              employees in eligible states</li>
            <li>Gender Affirmation Fund for transgender and gender
              non-conforming employees</li>
          </ul>
          <% } %>
        </p>
      </div>
    </div>

  </main>
  <%- include('../common/footer.ejs') %>



  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/careers.js" ></script>
</body>
</html>