<%-include('../common/head-company.ejs') %> 
  <link rel="stylesheet" href="/css/bs-custom.css">
  <link rel="stylesheet" href="/css/job-list.css">
</head>
<body>
  <%- include('../common/nav-company.ejs') %>
  <main>
    <%- include('../common/banner-company.ejs') %>
    <div class="container my-5">
      <!-- Example single secondary button -->
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Location
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Remote-Taipei, Taiwan</a></li>
          <li><a class="dropdown-item" href="#">Remote-Seoul, Korea</a></li>
          <li><a class="dropdown-item" href="#"> London, UK</a></li>
          <li><a class="dropdown-item" href="#">Paris, France</a></li>
        </ul>
      </div>
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Job Type
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Full-time</a></li>
          <li><a class="dropdown-item" href="#">Part-time</a></li>
          <li><a class="dropdown-item" href="#">Contract</a></li>
          <li><a class="dropdown-item" href="#">Intern</a></li>
          <li><a class="dropdown-item" href="#">Temporary</a></li>
        </ul>
      </div>
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Department
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Product</a></li>
          <li><a class="dropdown-item" href="#">Accounting&Finance</a></li>
          <li><a class="dropdown-item" href="#">Engineering</a></li>
          <li><a class="dropdown-item" href="#">Legal & Business Affairs</a></li>
        </ul>
      </div>
      <% if (jobs.length > 0) { %>
      <div class="list-group mt-3">
        <% for (let job of jobs) { %>
        <a href="/careers/<%=companyName%>/job_openings/<%=job.id %>" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%=job.name  %></h5>
            <small><%=job.updatedAt.toISOString().split('T')[0]%></small>
          </div>
          <p class="mb-1"><%=job.team %></p>
          <small><%=job.work_type%> - <%=job.city%>, <%=job.country%></small>
        </a>
        <% } %>
      
      </div> 
      <% } else { %>
        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> No Jobs Found</h3>
        <% } %>
    </div>
    <!-- <div class="d-grid gap-2 col-2 mx-auto my-5">
      <button type="button" class="btn btn-primary btn-lg">Load More</button>
    </div> -->
    

  </main>

  <%- include('../common/footer.ejs') %>


  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/careers.js" ></script>
</body>
</html>