<%- include('../common/head.ejs') %> 
  <link rel="stylesheet" href="/css/job/job-form.css">
</head>
<body>
  <%- include('../common/nav-recruiting.ejs') %>
  <main> 
    <div class="container">
      <h2 class="header"><%=currentPage%></h2>
      <div class="card">
        <form action="" method="POST">
          <div class="grid-form">
            <label class="label">JOB NAME <small style="color: red;">*</small></label>
            <input type="text" class="name" name="name" placeholder="JOB NAME" required>
            <label class="label"> TEAM <small style="color: red;">*</small></label>
            <input type="text" class="team" name="team" placeholder="TEAM" required>
            <label class="label">OFFICE LOCATION <small style="color: red;">*</small></label>
            <div class="form-group">
              <input type="text" class="country" name="country" placeholder="COUNTRY" required>
              <input type="text" class="city" placeholder="CITY" name="city" required>
            </div>

            <label class="label" for="">WORK TYPE</label>
            <div class="form-group">
              <input id="Remote"  name="workType" type="radio" value="Remote" checked>
              <label class="label" for="remote">Remote</label>
              <input id="Onsite" name="workType" type="radio" value="Onsite">
              <label class="label" for="onstie" >Onsite</label>
              <input id="Hybrid" name="workType" type="radio" value="Hybrid">
              <label class="label" for="hybrid">Hybird</label>
            </div>

            <label class="label" for="">EMPLOYMENT TYPE</label>
            <select class="employmentType" name="employmentType" required>
              <option selected disabled value="" label="SELECT AN OPTION"></option>
              <option>Full-time</option>
              <option>Part-time</option>
              <option>Contract</option>
              <option>Intern</option>
              <option>Temporary</option>
            </select>

            <label class="label">REASON FOR OPENING <small style="color: red;">*</small></label>
            <select class="reason" name="reason" required>
              <option selected disabled value="" label="SELECT AN OPTION"></option>
              <option>Add</option>
              <option>Replacement</option>
              <option>Contract</option>
              <option>Intern</option>
              <option>Temporary</option>
            </select>

            <label class="label">HIRING MANAGER EMAIL <small style="color: red;">*</small></label>
            <input type="email" class="hiringManagerEmail" name="hiringManagerEmail" placeholder="HIRING MANAGER'S EMAIL" required>

            <div class="grid-jd">
              <label class="label">JOB DESCRIPTION <small style="color: red;">*</small></label>
              <textarea class="description" name="description" placeholder="JOB DETAILS..." cols="30" rows="10"></textarea>
              <label class="label">RESPONSIBILITIES <small style="color: red;">*</small></label>
              <textarea class="responsibility" name="responsibility" placeholder="RESPONSIBILITIES" cols="30" rows="10"></textarea>
              <label class="label">MINIMUM QUALIFICATIONS <small style="color: red;">*</small></label>
              <textarea class="qualification" name="qualification" placeholder="QUALIFICATIONS" cols="30" rows="10"></textarea>
              <label class="label">PREFERRED QUALIFICATIONS</label>
              <textarea class="preferred" name="preferred" placeholder="PREFERRED QUALIFICATIONS" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="button-wrapper">
            <a href="/recruiting/dashboard" class="btn-back" type="submit"><span>Cancel</span> </a>
            <button type="submit" class="btn-preview"><span> Preview</span></button>
          </div>
          <%- include('../common/error.ejs') %>
        </form>
      </div>
    </div>
  </main>

  <%- include('../common/footer.ejs') %>

  <script type="module" src="/js/pages/job/createJobForm.js"></script>
</body>
</html>